/node_modules
/.pnp
.pnp.*
.yarn/*
/.next/
/out/
next-env.d.ts
/build
.DS_Store
*.pem
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env*.local
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
