@import "tailwindcss";

:root {
  --color-primary: #37ef23;
  /* --color-secondary: #50e3c2; */
  --color-background: #151516;
  --color-text: #F6F8E2;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

.text-primary {
  color: var(--color-primary);
}

.text-text {
  color: var(--color-text);
}

.full-width {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}

.shadow-wrapper {
  box-shadow: 0 4px 24px 0 var(--color-primary);
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
.animate-marquee {
  flex-shrink: 0;
  display: flex;
  animation: marquee 60s linear infinite;
}

@keyframes emergence {
  from { opacity: 0; }
  to { opacity: 100; }
}
.animate-emergence {
  animation: emergence 3s linear;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}
.animate-emergence {
  animation: fadeIn 0.4s ease-out;
}
